.conteneurp{
    width: 300px;
    position: fixed;
    right: 1313px;
    top: 113px;
    background-color: rgb(245, 248, 250);
    margin-right: 0;
    height: 200px;
    display: flex;
    border: 2px solid #f2f2f2;
    border-radius: 10%;
  }
  .conteneurp h1{
  	margin-left: 15px;
  	color: black;
    font-size: initial;
  }
  .tp{
  	margin-top: 125px;
  }
  .imgprofil img{
    position: absolute;
    width: 100px;
    border-radius: 50%;
    top: 30%;
    right: 235px;
    z-index: 1;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  .conteneurp p{
  	margin-left: 30px;
  	color: black;
    font-size: initial;
  }

  .main{
  	float: left;
  	margin-left: 25%;
    width: 52%;
    background-color: rgb(245, 248, 250);
    border: 2px solid #f2f2f2;
    border-radius: 30px;
  }
  
.conteneur{
    width: 271px;
    height: 272px;
    background-color: rgb(245, 248, 250);
    margin-left: 1052px;
    border: 2px solid #f2f2f2;
    border-radius: 10%;
  }
.conteneur h1,p{
	color: black;
}
 .imgprofilsu img{
    position: absolute;
    width: 74px;
    border-radius: 50%;
    top: 30%;
    z-index: 1;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
.abonner {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.abonner:hover {
    background-color: #008CBA;
    color: white;
}
.abonner {
    background-color: #6e5ea2; 
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
.imgprofiltweet img{
    position: absolute;
    width: 74px;
    border-radius: 50%;
    top: 30%;
    z-index: 1;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  .tweetimg img{
  	top: 30%;
    width: 74px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  
  }
  /*********************************************** HEADER ***********************************************/
  header {
    height: 80px;
  }
    .header-menu {
      font-size: 17px;
      line-height: 80px;
    }
      .header-menu li {
        position: relative;
            -webkit-transform: translateZ(0); 
      }
        .header-menu-tab {
          padding: 0 27px;
          display: block;
          line-height: 74px;
          font-size: 17px;
          -webkit-transition: background .3s;
          transition: background .3s;
        }
          .header-menu-tab:hover {
            background: #50597b;
            border-bottom: 4px solid #11a8ab;
            text-decoration: none;
          }
          .header-menu-tab .icon {
            padding-right: 15px;
          }
        .header-menu-number {
          position: absolute;
          line-height: 22px;
          padding: 0 6px;
          font-weight: 700;
          background: #e64c65;
          border-radius: 100%;
          top: 15px;
          right: 2px;
          -webkit-transition: all .3s linear;
          transition: all .3s linear;
        }
          .header-menu li:hover .header-menu-number {
            text-decoration: none;
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);

          }
    .profile-menu {
      float: right;
      height: 80px;
      padding-right: 20px;
    }
      .profile-menu p {
        font-size: 17px;
        display: inline-block;
        line-height: 76px;
        margin: 0;
        padding-right: 10px;
      }
        .profile-menu a {
          padding-left: 5px;
        }
          .profile-menu a:hover {
            text-decoration: none;
          }
      .small-profile-picture {
        display: inline-block;
        vertical-align: middle;       
      }
  /** CONTAINERS **/
  .container {
    float: left;
    width: 300px;
  }
    .block {
      margin-bottom: 25px;
      background: #394264;
      border-radius: 5px;
    }
  /** Profil **/
  .profile{
    background-color: red;
    width: 200px;
    height: 400px;
  }
  /*-----------------------------------tweet---------------------*/
  * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.bubble {
  width: 100%;
  padding: .5em 1em;
  line-height: 1.4em;
  padding: 20px;
  background-color: #ecf0f1;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  text-align: left;
  display: inline-block; }
  /*.bubble:hover > .over-bubble {
    opacity: 1; }
*/
.bubble-container {
  width: 75%;
  display: block;
  position: relative;
  padding-left: 20px;
  vertical-align: top;
  display: inline-block; }

.arrow {
  content: '';
  display: block;
  position: absolute;
  left: 12px;
  bottom: 25%;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ecf0f1; }

.timeline {
  display: block;
  margin: 0;
  background-color: #dde1e2;
  padding-bottom: 2em;
  -webkit-box-shadow: #bdc3c7 0 5px 5px;
  -moz-box-shadow: #bdc3c7 0 5px 5px;
  box-shadow: #bdc3c7 0 5px 5px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 1em; }
  .timeline li {
    padding: 1em 0; }
  .timeline li:nth-child(even) {
    background-color: #d3d7d8; }

.avatar {
  width: 18%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin-left: 2%; }
  .avatar img {
    width: 100%;
     height: 110px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #ecf0f1;
    position: relative; }
  .avatar:hover > .hover {
    cursor: pointer;
    opacity: 1; }

.first {
  width: 560px;
  display: block;
  margin: auto;
  background-color: #3498db;
  text-shadow: #2084c7 1px 1px 0;
  padding: 1em 0 !important;
  color: white;
  text-align: center;
  margin-top: 1em;
  font-family: "Lato";
  font-size: 1.6em;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  position: relative; }

.icon-twitter {
  font-size: 1.5em; }

.new {
  position: absolute;
  right: 5%; }

.over-bubble {
  line-height: 1.4em;
  padding-top: 10%;
  background-color: rgba(236, 240, 241, 0.8);
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  position: absolute !important;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  font-size: 2.8em;
  text-shadow: white 1px 1px 0; }

.action {
  margin-right: .3em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

.icon-star {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }
  .icon-star:hover {
    cursor: pointer;
    color: #16a085; }

.icon-retweet {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }
  .icon-retweet:hover {
    cursor: pointer;
    color: #16a085; }

.icon-mail-reply {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }
  .icon-mail-reply:hover {
    cursor: pointer;
    color: #3498db; }

h3 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Lato';
  display: inline-block;
  margin-bottom: .2em;
  color: #95a5a6; }

button#textbut{
    width: 150px;
    margin-top: 2px;
    margin-left: 494px;
    height: 50px;
    position: absolute;
}
button#buttweet {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
#buttweet{
    width: 150px;
    margin-top: 2px;
    height: 50px;
    position: absolute;
}
button.buttcom {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.buttcom{
    width: 150px;
    margin-top: 2px;
    height: 50px;
    position: absolute;
}
button#buttweet:hover {
    background-color: #008CBA;
    color: white;
}
button#buttweet {
    background-color: #6e5ea2; 
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
button.buttcom:hover {
    background-color: #008CBA;
    color: white;
}
button.buttcom {
    background-color: #6e5ea2; 
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
#compteur{
    position: absolute;
    margin-left: 552px;
    margin-top: 70px;
}
#info_user{
  display: flex;
}

.datetw{
  margin-top: 0;
}
.h3twet{
  margin-top: 0;
}
#nompseudot{
  position: absolute;
    margin-left: 122px;
    margin-top: 85px;
    font-size: x-small;
}
div.bubble p{
  word-wrap: break-word;
}
div.tp strong a{
  margin-left: 15px;
    color: black;
    font-size: initial;
}
div.bubble-container h1{
  color: black;
}
textarea{
  margin-left: 12em;
  width: 65%;
  resize:none;
  margin-top: 4px;
  height: 50px;
}
textarea#textareaChars{
  margin: 0;
}

.retweet{
  margin: 0px !important;
  margin-bottom: 10px !important;
  margin-left: 60px !important;
}

button#benvoyer {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
#benvoyer{
    width: 150px;
    margin-top: 2px;
    height: 50px;
    position: absolute;
}
button#benvoyer:hover {
    background-color: #008CBA;
    color: white;
}
button#benvoyer {
    background-color: #6e5ea2; 
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

#number {
  position: relative;
  line-height: 22px;
  padding: 0 6px;
  font-weight: 700;
  background: #e64c65;
  border-radius: 100%;
  top: 0px;
  right: 0px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

#tconv{
  color: black;
  text-align: center;
}

#new_mes{
  color:black;
}